<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MetaMemeMarket</title>
    <link rel="icon" href="http://res.cloudinary.com/metamememarket/image/upload/v1636136080/n3awrhtwznvi6s67bwmn.png">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/METAMEME.png" type="favicon">
</head>
<body>
    <main>
        <div id="topnav">
                {{#if loggedIn}}

                {{!-- <a href="/upload" class="link">Upload</a> --}}
                <a id="title" href="/"><span id="title_gold">meta<span id="title_white">meme<span id="title_gray">market</span></a>
                <a href="/upload" class="link">upload</a>
                {{!-- <a href="/logout">Logout</a> --}}
                <a id="topnav_user_link" href="/user/{{currentUser.username}}" class="link">{{currentUser.username}}  <img src="/assets/metameme_coin.png" style="height: 2vw; width: 2vw; float: center;" alt="$"> <span id="balance" style="color:#51ff0D">{{balance}}</span><img src="/assets/METAMEME.png" style="height: 2vh; width: 2vh;" alt="$"></a>


                {{else}}
                <div><img src="/assets/METAMEME.png" style="height: 7vh; width: 7vh;" alt="$"></div>
                <a id="title" href="/"><span id="title_gold">Meta</span><span id="title_white">Meme</span><span id="title_gray">Market</span></a>
                    <a href="/login" class="link">Login</a>
                    
                    {{!-- <a style="display: inline;" href="/login" class="link">Login</a> --}}
                {{/if}}
            {{!-- <a href="/login">Login</a> --}}
            {{!-- <a href="/api/users/logout">logout</a> --}}
        </div>
    </main>
        <div id="spacer"></div>
    {{!-- <div id="spacer"></div> --}}
    {{{body}}}
</body>
</html>