
<div id="home">
    {{#each memes}}
        <div class="card">
            <img class="meme" src={{img}}>
            <h4 class="color-text">@{{user.username}}</h4>
            {{#if value}}
                <p>${{value}}</p>
            {{else}}
                <p>No available shares!</p>
            {{/if}}
            {{!-- <button>Buy</button> --}}
            <a id="card_link" href="/meme?id={{id}}"></a>
        </div>
    {{/each}}

</div>