
<div id="home">
    {{#each memes}}
        <div class="card">
            <img class="meme" src={{img}}>
            <h4 class="color-text">@{{user.username}}

</h4>
            {{#if value}}
                <p><img src="/assets/metameme_coin.png" style="height: 12px; width: 12px; float: center;" alt="$">{{value}}</p>
            {{else}}
                <p>sold out!</p>
            {{/if}}
            {{!-- <button>Buy</button> --}}
            <a id="card_link" href="/meme?id={{id}}"></a>
        </div>
    {{/each}}

</div>