<div id="meme">
    <div class="memepage_meme">
      <img src={{meme.img}}>
    </div>

    <div class="stats">
        <h1>{{meme.title}}</h1>
        <p>

  <span style='color: goldenrod'>C</span>
  <span style='color: #fff'>r</span>
  <span style='color: #cccccc'>e</span>
  <span style='color: #fff'>a</span>
  <span style='color: #51ff0d'>t</span>
  <span style='color: #fff'>e</span>
  <span style='color: #cccccc'>d</span> 
  <span style='color: #fff'> b</span>
  <span style='color: goldenrod'>y</span>
</p> <a href="/user/{{meme.user.username}}">{{meme.user.username}}</a></p>
    </div>
    
  <div id="buy-sell">
    <div id="sold-shares"></div>
    {{#if loggedIn}}

    {{#if stake}}
      <p>You own {{stake}}% of this meme!</p>
    {{/if}}

    {{else}}
      <p>Log in to buy shares!</p>
    {{/if}}


  <button id ="sellme">
    SELL 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </button>

  <button id ="buyMe">
    BUY 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </button>

  <table id="prices1" style="width: 100%">
    <tr>
      <th>MARKET LISTINGS</th>
    </tr>
  </table>

  <table id="prices" style="width: 100%">
    <thead>
      <tr>
        <th>$$</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody id="table-body"></tbody>
    
  </table>
  </div>
  
</div>


<script src="/js/transaction.js"></script>

