<h1>Welcome back, {{username}}</h1>
{{#each Memes}}
    <div class="card">
            <h3>{{img}}</h3>
            <h4>Owner: {{User.username}}</h4>
            <h5>Rating: {{rating}}</h5>
            <p>Value: {{value}}</p>
    </div>
{{/each}}