{{#if sameUser}}
<h2 id="user_title"> <span>@{{currentUser.username}}</span></h2>
{{else}}
<h2 id="user_title">You're peepin' <span>{{user.username}}</span>'s User Page.</h2>
{{/if}}

<div id="user_created"></div>
    <h2 class="user_subtitle"><span></span><p>
  <span style='color: goldenrod'>C</span>
  <span style='color: #0b0b0b'>r</span>
  <span style='color: #0b0b0b'>e</span>
  <span style='color: #0b0b0b'>a</span>
  <span style='color: #51ff0d'>t</span>
  <span style='color: #0b0b0b'>i</span>
  <span style='color: #0b0b0b'>o</span>
  <span style='color: #0b0b0b'>n</span>
  <span style='color: goldenrod'>s</span> 
</p></h2>
    <div id="user_created_memes">
        {{#each memes}}
            <div class="card">
                <img class="meme" src={{this.img}}>
                {{!-- <h4>Owner: {{user.currentUser.username}}</h4> --}}
                {{#if this.value}}
                    <p><img src="/assets/metameme_coin.png" style="height: 12px; width: 12px; float: center;" alt="$"> {{this.value}}</p>
                {{else}}
                    <p>sold out!</p>
                {{/if}}
                {{!-- <button>Buy</button> --}}
                <a id="card_link" href="/meme?id={{id}}"></a>
            </div>
        {{/each}}
    </div>
</div>

<div id="user_owned">
    <h2 class="user_subtitle"> <span></span><p>
  <span style='color: goldenrod'>P</span>
  <span style='color: #0b0b0b'>o</span>
  <span style='color: #0b0b0b'>r</span>
  <span style='color: #0b0b0b'>t</span>
  <span style='color: #51ff0d'>f</span>
  <span style='color: #0b0b0b'>o</span>
  <span style='color: #0b0b0b'>l</span>
  <span style='color: #0b0b0b'>i</span>
  <span style='color: goldenrod'>o</span>
</p></h2>
    <div id="user_owned_memes">
        {{#each memes}}
            {{log 'memes' this}}
            <div class="card">
                <img class="meme" src={{img}}>
                {{!-- <h4>Owner: {{user.currentUser.username}}</h4> --}}
                {{#if this.value}}
                    <p><img src="/assets/metameme_coin.png" style="height: 12px; width: 12px; float: center;" alt="$"> {{this.value}}</p>
                {{else}}
                    <p>sold out!</p>
                {{/if}}
                {{!-- <button>Buy</button> --}}
                <a id="card_link" href="/meme?id={{id}}"></a>
            </div>
        {{/each}}
    </div>
</div>
{{#if sameUser}}
<div id="user_logout">
    <a href="/logout"><p>
  <span style='color: #0b0b0b'>l</span>
  <span style='color: #0b0b0b'>o</span>
  <span style='color: #0b0b0b'>g</span>
  <span style='color: #FF3131'>o</span>
  <span style='color: #FF3131'>u</span>
    <span style='color: #FF3131'>t</span>


</p></a>
</div>
{{/if}}

<script src="/js/user.js" type="text/javascript"></script>